<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="Stripe:SecretKey" value="sk_test_5AuJyZs8N7ui2bFCh7FlUZ46"/>
      <add key="Stripe:PublishableKey" value="pk_test_Nfd6piEJleqFWwlN2ec3wm2o"/>
    </appSettings>
</configuration>